.container {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    min-height: 30px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.body {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer {
    border-top: 1px solid #e7e7e7;
    height: 30px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 0px #fff, 0px -1px 1px rgba(0,0,0,.05);
}

.refresh {
    background-image: url("../images/refresh.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}

.empty {
    background-image: url("../images/empty.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}

.list-item {
    min-height: 50px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
}

.list-item:hover {
    background-color: #f5fafe;
    border-color: #e1eaf1;
}

.list-item.selected {
    background-color: #e3f2ff;
    border-color: #d3e4f3;
}

.from {
    margin-bottom: 7px;
    color: #4183c4;
}

.subject {
    margin-bottom: 3px;
}

.snippet {
    color: #777;
}

.controls {
    margin-top: 7px;
}

.labels {
    display: inline-block;
}

.actions {
    display: inline-block;
    white-space: nowrap;
}
