body {
    min-width: 357px;
    margin: 0 8px;
    overflow-x: hidden;
    font-family: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

/* paragraph */
p {
    white-space: pre-wrap;
}

/* unvisited link */
a:link { color: #4183C4; text-decoration: none; }
/* visited link */
a:visited { color: #4183C4; }
/* mouse over link */
a:hover { color: #4183C4; text-decoration: underline; }
/* focused link */
a:focus { color: #4183C4; outline: none; }
/* selected link */
a:active { color: #4183C4; }

/*
 * General properties of the elements
 */

/* alignments */
.hAlignLeft { text-align: left; }
.hAlignRight { text-align: right; }
.hAlignCenter { text-align: center; }

/* center */
.centered { margin-left: auto; margin-right: auto; }

/* horizontal margin */
.hMargined_small { margin: 0px 3px; }
.hMargined_normal { margin: 0px 7px; }
.hMargined_large { margin: 0px 15px; }

/* vertical margin */
.vMargined_small { margin: 3px 0px; }
.vMargined_normal { margin: 7px 0px }
.vMargined_large { margin: 15px 0px;}

/* font sizes */
.font_large { font-size: 16px !important; }
.font_normal { font-size: 13px !important; }
.font_small { font-size: 11px !important; }

/* no select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
